:root {
    --black: #111;
    --white:#FFF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: var(--black);
    color: var(--white);
}

.blog-link:hover {
    background-color: var(--white);
    color: var(--black);
}